<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<header>
    <h1><a href="/">Piotr Paradziński</a></h1>
    <nav>
        <a href="/">Home</a>
        <a href="/archive.html">Posts</a>
        <a href="/about.html">About</a>
        <a href="https://github.com/dancewithheart">GitHub</a>
    </nav>
</header>

<main>
    $body$
</main>
</body>
</html>
